<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <h1 class="text-primary">サインインしてください</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>チャットを行うにはサインインが必要です。</h3>
            </div>
            <div class="card-body">
                <p>サインインに使用するサービスを選んでください：</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/auth/login/facebook">Facebook</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/auth/login/github">GitHub</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/auth/login/google">Google</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>